.DS_Store

# for JavaScript modules
**/node_modules/**


# for Java modules
**/.idea/**
**/.gradle/**
*.class


# for Python modules
*.pyc
**/.tox/**
**/.pytest_cache/**
**/__pycache__/**


# module specific
modules/chess-diagrams/docs/**

modules/games/games.iml
modules/games/build/**
modules/games/out/**
