<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <title>FLEXess</title>
</head>
<body>

<th:block th:fragment="footer">

    <!-- Footer -->
    <hr>
    <div class="row">
        <div class="col-lg-12">
            <ul class="nav nav-pills nav-justified">
                <li><a href="/games/about">About this module</a></li>
                <li><a href="https://www.embarc.de" target="_blank">© 2019 embarc.de</a></li>
                <li><a href="https://www.embarc.de/micro-moves/" target="_blank">Micro Moves blog series</a></li>
            </ul>
        </div>
    </div>
    <!-- Footer -->


    <script src="//cdnjs.cloudflare.com/ajax/libs/jquery/1.12.4/jquery.min.js"></script>
<script src="//cdnjs.cloudflare.com/ajax/libs/twitter-bootstrap/3.3.7/js/bootstrap.min.js"></script>
</th:block>

</body>
</html>