{% extends "base.html" %}

{% block header %}
    <h1>Players<small> A Micro Moves module</small></h1>
{% endblock %}

{% block content %}
    <div>
        <h2>About this Module</h2>
        <p>
            This module is implemented in Python with Flask.
            See <a href="https://www.embarc.de/micro-moves/" target="_blank">Micro Moves</a> blog series for details.
            It introduced this module in Part 7.
        </p>

        <h2>Resources</h2>
        <ul>
            <li><a href="http://flask.pocoo.org">Flask</a> - a microframework for Python</li>
            <li><a href="http://jinja.pocoo.org">Jinja2</a> - a templating language for Python</li>
            <li><a href="https://tinydb.readthedocs.io">TinyDB</a> - tiny, document oriented database</li>
            <li><a href="https://tox.readthedocs.io">tox</a> - automate and standardize testing in Python</li>
            <li><a href="http://flask.pocoo.org/docs/1.0/testing/">Testing Flask applications</a> - Something that is untested is broken.</li>
            <li><a href="https://pyjwt.readthedocs.io">PyJWT</a> - encode and decode JSON Web Tokens</li>
        </ul>

    </div>


{% endblock %}
