{% extends "base.html" %}

{% block header %}
    <h1>Players<small> Registration, Profiles</small></h1>
{% endblock %}

{% block content %}

    <div>
        <table class = "table table-striped">
           <thead>
              <tr>
                  <th>User ID</th>
                  <th>Name</th>
                  <th>Roles</th>
              </tr>
           </thead>

           <tbody>
             {% for player in players %}
              <tr>
                  <td><a class="btn btn-link" role="button" href="profile_{{ player.userid }}">{{ player.userid }}</a></td>
                  <td>{{ player.name }}</td>
                  <td>{{ player.roles }}</td>
              </tr>
              {% endfor %}
           </tbody>
        </table>
    </div>
{% endblock %}
