<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org">
<!--# include virtual="/header" -->
<body>
    <!--# include virtual="/navbar?active=games" -->

    <div class = "container">

        <div class="page-header">
            <h1>Games<small> A Micro Moves module</small></h1>
        </div>

        <div>
            <h2>About this Module</h2>
            <p>
                This module is implemented in Java with Spring Boot and uses Spring Web MVC, Spring Data and Thymeleaf.
                See <a href="https://www.embarc.de/micro-moves/" target="_blank">Micro Moves</a> blog series for details.
                It introduced this module in Part 1 as a plain REST service and enhanced it in Part 3 with this MVC UI.
            </p>
        </div>

        <h2>Resources</h2>
        <ul>
            <li><a href="https://spring.io/projects/spring-boot" target="_blank">Spring Boot</a> - makes it easy to create stand-alone, production-grade Spring based Applications</li>
            <li><a href="https://www.baeldung.com/jackson-annotations" target="_blank">Jackson Annotation Examples</a> - a deep dive into Jackson Annotations by Eugen Paraschiv</li>
            <li><a href="https://www.thymeleaf.org" target="_blank">Thymeleaf</a> - a modern server-side Java template engine</li>
            <li><a href="https://spring.io/guides/gs/messaging-stomp-websocket/" target="_blank">WebSocket guide</a> - Using WebSocket to build an interactive web application</li>
        </ul>

    </div>

    <!--# include virtual="/footer?module=games" -->
</body>
</html>