<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org">
<head th:replace="fragments/head :: head">
    <title>FLEXess</title>
</head>
<body>
<div>
    <div th:replace="fragments/navbar :: navbar" />

    <div class = "container">


    <div class = "jumbotron">
        <h1>Welcome to FLEXess</h1>
        <p>
            A flexible chess plattform.
        </p>
        <p>
            This module games is implemented with Spring Boot and uses Spring Web MVC, Spring Data and Thymeleaf.
            See <a href="https://www.embarc.de/micro-moves/" target="_blank">Micro Moves</a> blog series for details.
        </p>
        <p>
            <a class = "btn btn-primary btn-lg" role = "button" href="/games">See all games</a>
        </p>
    </div>

    </div>

    <div th:replace="fragments/footer :: footer" />
</body>
</html>