<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org">
<head th:replace="fragments/head :: head">
    <title>FLEXess</title>
</head>
<body>
<div>
    <div th:replace="fragments/navbar :: navbar" />

    <div class = "container">

        <div class="page-header">
            <h1>Games<small> A Micro Moves module</small></h1>
        </div>

        <div>
            <h2>About this Module</h2>
            <p>
                This module is implemented in Java with Spring Boot and uses Spring Web MVC, Spring Data and Thymeleaf.
                See <a href="https://www.embarc.de/micro-moves/" target="_blank">Micro Moves</a> blog series for details.
                It introduced this module in Part 1 as a plain REST service and enhanced it in Part 3 with this MVC UI.
            </p>
        </div>

        <div>
            <a class = "btn btn-primary" role = "button" href="./games">See all games</a>
        </div>

    </div>

    <div th:replace="fragments/footer :: footer" />
</body>
</html>