<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org">
<!--# include virtual="/header" -->
<body>
    <!--# include virtual="/navbar?active=games" -->

        <div class = "container">

            <div class="page-header">
                <h1>New Game created<small th:text="' ID = '+${game.id}"> ID = X</small></h1>
            </div>

            <ul class="list-group">
                <li class="list-group-item" th:text="'Game ID: '+${game.id}">ID</li>
                <li class="list-group-item" th:text="'Player White: '+${game.playerWhite}">Player White</li>
                <li class="list-group-item" th:text="'Player Black: '+${game.playerBlack}">Player Black</li>
            </ul>

            <div>
                <a class="btn btn-primary" th:href="'/play/?game_id='+${game.id}" role="button">Play Game!</a>
                <a class="btn btn-default" href="./all" role="button">To All Games list</a>
            </div>

        </div>

    </div>


    <!--# include virtual="/footer?module=games" -->
</body>
</html>